body{
    margin: 0;
    min-height: 150vh;
    font-size: 25px;
    color: white;
    text-align : center;
    padding-bottom : 100px;
    padding-left: 40px;
    border:thick solid white;
    font-family: 'Garamond';
    background :
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
 ),
    url("https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29zbW9zfGVufDB8fDB8fHww");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input{
    width: 250px;
    font: 18px 'Orbitron';

}

button{
    padding: 10px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    font: 18px 'Orbitron';
    font-weight: 600;
    
}
#about {
    margin-bottom:10px;
    font-size: 14px;
    padding-top:200px;
    padding-right:150px;
    color: white;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#heading{
    font-size: 25px;
    font-family: 'Orbitron';
    text-align: center;
    font-weight: 800;
    color:  white;
}
#content-box {
    width: 100%;
    height: 150px;
    background-color: rgba(38, 3, 94, 0);
}